<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome to Articles Natural Language Processing</h1>
        <form>
            <h3>Enter Your Article</h3>
            <textarea id="article" placeholder="Type What you Think of"></textarea>
            <button id="submit">Analyze article</button>
            <span>See what your article sounds like ?</span>
        </form>
        <section>
            <p id="result"></p>
        </section>
        <!-- <div>
        </div> -->
    </div>
    <script>
                    if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
                }
    </script>
</body>
</html>